{% extends 'base.html.twig' %}

{% block title %}Accueil - Vite & Gourmand{% endblock %}

{% block body %}


    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container section-title" data-aos="fade-up">
        <p><span>Vite &</span> <span class="description-title">Gourmand<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ asset('assets/img/about.jpg') }}" class="img-fluid mb-4" alt="">
            
          </div>
          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Vite & Gourmand est une entreprise de traiteur fondée il y a 25 ans à Bordeaux par Julie et José,
                deux passionnés de gastronomie qui ont fait de leur amour de la cuisine leur métier.
              </p>
              
              <p>
                Forts de leur expérience, Julie et José proposent leurs prestations pour tous vos événements, 
                qu'il s'agisse d'un repas de Noël en famille, d'un déjeuner de Pâques ou encore d'un événement professionnel.
                Chaque menu est élaboré avec soin, en utilisant des produits frais et de saison, sélectionnés auprès de producteurs locaux bordelais.
                Notre équipe met un point d'honneur à offrir une expérience culinaire unique et personnalisée, adaptée à vos besoins et à votre budget.
                 De la conception du menu jusqu'à la livraison, nous vous accompagnons à chaque étape pour faire de votre événement un moment inoubliable.
              </p>
              <a href="{{ path('app_menu')}}" class="btn-getstarted">Voir les menus</a>

              
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


    <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <p><span>Notre</span> <span class="description-title">Equipe<br></span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ asset('assets/img/chefs/chefs-1.jpg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>José</h4>
                <span>Chef</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ asset('assets/img/chefs/chefs-2.jpg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Julie</h4>
                <span>Patissière</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ asset('assets/img/chefs/chefs-3.jpg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Léo</h4>
                <span>Cuisinier</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div><!-- End Chef Team Member -->

        </div>

      </div>

    </section><!-- /Chefs Section -->



<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">
    <div class="container section-title">
        <p>Les avis <span class="description-title">de nos clients</span></p>
    </div>
    
    <div class="container">
        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
{
    "loop": true,
    "speed": 600,
    "autoplay": {
        "delay": 5000
    },
    "slidesPerView": "3",
    "pagination": {
        "el": ".swiper-pagination",
        "type": "bullets",
        "clickable": true
    }
}
</script>
            <div class="swiper-wrapper">
            
                {% for unAvis in avis %}
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>{{ unAvis.commentaire }}</p>
                        <h3>{{ unAvis.commande.users.prenom }}</h3>
                        <div class="stars">
                            {% for i in 1..unAvis.note %}
                                <i class="bi bi-star-fill"></i>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
          <div class="swiper-pagination"></div>
        </div>
    </div>
</section>


{% endblock %}

