{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="container mt-4 mb-4">
    <h2>Modifier mon profil</h2>
    
    {{ form_start(form) }}

    {{ form_row(form.prenom) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.pays) }}

        <button type="submit" class="btn-getstarted">Sauvegarder</button>
    {{ form_end(form) }}
</div>
{% endblock %}