{% extends 'base.html.twig' %}

{% block title %}Modifier ma commande{% endblock %}

{% block body %}
<div class="container mt-4 mb-4">
    <h2>Modifier ma commande</h2>
    
    {{ form_start(form) }}

    {{ form_row(form.date_presta) }}
    {{ form_row(form.heure_livraison) }}
    {{ form_row(form.adresse_livraison) }}
    {{ form_row(form.nombre_personnes) }}

        <button type="submit" class="btn-getstarted">Sauvegarder</button>
    {{ form_end(form) }}
</div>
{% endblock %}